# Direct dependencies:
pandas==0.20.3
requests==2.18.4

# Secondary dependencies:
certifi==2017.7.27.1
chardet==3.0.4
idna==2.6
numpy==1.13.1
python-dateutil==2.6.1
pytz==2017.2
six==1.10.0
urllib3==1.24.2
wincertstore==0.2
xlrd==1.0.0
